wandb/*
models/*
bitsandbytes/*
.venv/*
logs/*
logs_old/*
new_results/*
results_ol/*
trash/*
__pycache__/*
__pycache__
data/*
outputs/*
results/*
results_old/*
.vscode
output
mm/mm_results
mm/llm_res
vote_and_rank
caos
methods
.idea
mm/ds_images
mm/ds_real_images
mm/modailties_results
mm/outputs
mm/data
*.ipynb
*.csv
*.png
*.json